<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}

    <div class="row">

        <div class="col-8">
            <h1>Bill Cipher</h1>
            <p>Remember! Reality's an illusion, the universe is a hologram, buy gold! Byeeee!</p>
        </div>

        <div class="col-4">
            <img src="assets/img/bill_cipher.jpg" class="img-thumbnail">
        </div>

    </div>

    {{> footer }}

</body>

</html>